<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link href="https://demo.codefest.co.uk/codelander/assets/css/accordian.css" rel="stylesheet">
<link href="https://demo.codefest.co.uk/codelander/assets/css/style.css" rel="stylesheet">
<link href="https://demo.codefest.co.uk/codelander/assets/css/bootstrap.min.css" rel="stylesheet"> 
<link href="https://demo.codefest.co.uk/codelander/assets/css/owl/owl.carousel.min.css" rel="stylesheet">
<link href="https://demo.codefest.co.uk/codelander/assets/css/owl/owl.theme.default.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&amp;display=swap" rel="stylesheet">

<link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9kZW1vLmNvZGVmZXN0LmNvLnVrL2NvZGVsYW5kZXIv">

<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/src/assets/js/smoothscroll.js"></script>


<br><br>
    <div class="container header-container">
        
        
        <div class="col-lg-8 offset-lg-1 header-title-section">
            <p class="header-title1"> RPay Wallet  </p>
            <p class="header-subtitle"> RPay wallet is a digital wallet that allows you to make online payments effortlessly</p>
            
            <p class="header-title-text">We bring you RPay Wallet — a secure digital wallet that lets you manage your money with a touch; Make Recharges and many more. </p>
            
        </div>

        <div class="col-lg-5 header-img-section">

            <img src="/assets/img/6617.jpg">
        </div>

        
    </div>

    <br><br><br><br><br><br>
        <p style="text-align: center;" class="header-title-text1">No matter whether you use Airtel, Jio, Vi, BSNL or any other operator<br>just recharge it now to get amazing offers on your instant RPay Wallet..</p>
   

    
    
        <div class="header-title1">
             <br>
            <h2 style="color:darkcyan; text-align: center;"> Add Money to your Wallet
            <!-- <i class='fas fa-wallet' style='font-size:48px;color:blue'></i>--></h2> 
            <br>
        </div>

    <div class="container blog-container">
        <div class="blog-post-card">
            <div class="container strategy-container">
                <div class="col-lg-1 col-md-3 col-xs-4 offset-xs-2 strategy-card-section">
                    <div class="strategy-card">
                        <div class="strategy-card-icon-section">
                            <img src="http://assetscdn1.paytm.com/frontendcommonweb/02740b0a.svg">
                        </div>
                                
                    </div>
                </div>
                <div class="col-lg-2 col-md-1 col-xs-2 offset-xs-2 strategy-card-section">
                    <h2> RPay Wallet </h2>
                    <p style="background-color: aliceblue;">₹ {{userbalance}} </p>
                </div>
            </div>

            <h2 style="color:dodgerblue;">Add Money</h2>
            <br>

            <div class="blog-posts-section">
                <div class="row">
                    <div class="col"><a mat-raised-button color="warn" href="https://rzp.io/l/6zpId8Pey4" target="_blank">₹10</a></div>
                    <div class="col"></div>
                    <div class="col"><a mat-raised-button color="warn" href="https://rzp.io/l/ZPQwaPSkFI" target="_blank">₹50</a></div>
                    <div class="col"></div>

                    <div class="col"><a mat-raised-button color="warn" href="https://rzp.io/l/nntwmYeHG" target="_blank">₹100</a> </div>
                    <div class="col"></div>

                    <div class="col"><a mat-raised-button color="warn" href="https://rzp.io/l/h512cn60o" target="_blank">₹250</a></div>
                    <div class="col"></div>

                    <div class="col"><a mat-raised-button color="warn" href="https://rzp.io/l/E5C3kKOgX" target="_blank">₹500</a></div>
                    <div class="col"></div>

                    <div class="col"><a mat-raised-button color="warn" href="https://rzp.io/l/SCCXEwB" target="_blank">₹1000</a></div>
                    <div class="col"></div>
                    <div class="col"><a mat-raised-button color="warn" href="https://rzp.io/l/r7EYAYAgS" target="_blank">₹2500</a></div>
                </div>
            </div>
            <br> <br> <br> <br> 
            
        </div>
        
    </div>
 
        
        <br><br> <br> <br>  

<app-wallethistory></app-wallethistory>
