
	<link href="https://demo.codefest.co.uk/codelander/assets/css/accordian.css" rel="stylesheet">
	<link href="https://demo.codefest.co.uk/codelander/assets/css/style.css" rel="stylesheet">
    <link href="https://demo.codefest.co.uk/codelander/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://demo.codefest.co.uk/codelander/assets/css/owl/owl.carousel.min.css" rel="stylesheet">
	<link href="https://demo.codefest.co.uk/codelander/assets/css/owl/owl.theme.default.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&amp;display=swap" rel="stylesheet">
    
    <link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9kZW1vLmNvZGVmZXN0LmNvLnVrL2NvZGVsYW5kZXIv">
    
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/src/assets/js/smoothscroll.js"></script>
    <script>
    $("#navbarNav").on("click", "a", function () {
       $(".navbar-toggle").click();
       //or $("#nav").slideToggle();
 });
    </script>
<script type="text/javascript">
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-96875843-3', 'auto');
      ga('send', 'pageview');
</script>


	<!-- NAVBAR -->
		<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-header navbar-mobile">
			<div class=" container col-sm-8 col-md-8 col-lg-12 col">
				<!-- LOGO -->
				<div class="navbar-brand">
				<a class="navbar-brand-logo">
					<img src="/assets/img/apilogo.png" width="155px">
				</a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-around" id="navbarNav">
					<ul class="navbar-nav menu-navbar-nav">
						<li class="nav-item">
							<a class="nav-link" >
								
								<p class="nav-link-menu">Home</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" >
								
								<p class="nav-link-menu">Services</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" >
								
								<p class="nav-link-menu">Pricing</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" >
								
								<p class="nav-link-menu">Clients</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" >
								
								<p class="nav-link-menu">News</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link">
								
								<p class="nav-link-menu">Contact</p>
							</a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link learn-more-btn" routerLink="/user/login">Signin</a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link learn-more-btn" routerLink="/user/registration">Signup</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>


    <!-- SECTION LABEL -->
	<div id="top"></div>
	<!-- WRAPPER -->
		<div class="wrapper">
			<div class="header">
				<div class="container header-container">
					<div class="col-lg-6 header-img-section">
 
						<img src="https://demo.codefest.co.uk/codelander/assets/images/header.png">
					</div>
					
					<div class="col-lg-5 offset-lg-1 header-title-section">
						<h1 class="header-title1"> Welcome To RPay </h1>
						<p class="header-subtitle"> The simplest and fastest way to do a online recharge</p>
						
						<p class="header-title-text">RPay is India’s largest mobile Recharge platform. We help you to recharge your mobile at zero cost using our RPay Wallet. </p>
						<div class="learn-more-btn-section">
							<a class="nav-link learn-more-btn btn-invert">Learn More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- STRATEGY SECTION -->
			<div class="strategy-section">
				<h6 class="header-title1" style="text-align: center;"> Unique Features </h6>
				<div class="strategy-section-bg-graphics-section">
					<img src="https://demo.codefest.co.uk/codelander/assets/images/strategy-section-bg.png">
				</div>
				<div class="container strategy-container">
					<div class="col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section">
						<div class="strategy-card">
							<div class="strategy-card-icon-section">
								<img src="https://demo.codefest.co.uk/codelander/assets/images/strategy-1.png">
							</div>
							<h2> Fast and Secure </h2>
							<p>We'll work with you to develop the right strategy</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section">
						<div class="strategy-card">
							<div class="strategy-card-icon-section">
								<img src="https://demo.codefest.co.uk/codelander/assets/images/strategy-2.png">
							</div>
							<h2> Recharge Remainder </h2>
							<p>Work synchronization and automated services</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section">
						<div class="strategy-card">
							<div class="strategy-card-icon-section">
								<img src="https://demo.codefest.co.uk/codelander/assets/images/strategy-3.png">
							</div>
							<h2> Exclusive Deals</h2>
							<p>Dedicated servers to deploy and test applications</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section">
						<div class="strategy-card">
							<div class="strategy-card-icon-section">
								<img src="https://demo.codefest.co.uk/codelander/assets/images/strategy-4.png">
							</div>
							<h2> RPay Wallet </h2>
							<p>Stay informed on all our tools and technologies</p>
						</div>
					</div>
				</div>
			</div>

			<!-- SECTION LABEL -->
			<div id="services"></div>

			<!-- SERVICES
			<div class="services-section">
				<div class="services-section-bg-graphics">
					<img src="https://demo.codefest.co.uk/codelander/assets/images/services-section-bg.png">
				</div>
				<div class="container services-container">
					<div class="col-lg-5 services-title-section">
						<p class="services-subtitle">Our services</p>
						<h2 class="services-title">Solving Problems</h2>
						<p class="services-text">This is a great section to introduce your company and showcase your featured services.</p>		
						<div class="services-accordion">
							<button class="accordion">
	                          Website Design
	                        </button>
	                        <div class="panel"><p>
	                          Some information on your web design and development services can go here. A few lines should do the trick.
	                        </p></div>
	                        <button class="accordion">
	                          Application Development
	                        </button>
	                        <div class="panel"><p>
	                          More information on your application development services can go here, too. There's plenty of space available for you.
	                        </p></div>
						</div>				
					</div>
					<div class="col-lg-6 offset-lg-1 services-header-img-section">
						<img src="https://demo.codefest.co.uk/codelander/assets/images/services-header.png">
					</div>
				</div>
			</div> -->

			<!-- SALES GROWTH -->
			<div class="services-sales-section">
				<div class="container services-container">
					<div class="col-lg-6 services-header-img-section padding-0">
						<br><br>
						<img src="https://demo.codefest.co.uk/codelander/assets/images/services-sales-header.png">
					</div>
					<div class="col-lg-5 offset-lg-1 services-title-section">
						<p class="services-subtitle">Our services</p>
						<h2 class="services-title">Instant and Easy Online Mobile Recharge</h2>
						<p class="services-text">RPay is the finest mobile recharge app of our country, providing online recharge facility for Airtel, Vi, BSNL and Jio.<br><br> RPay gives immense ease to all the users for easy mobile recharge online. <br><br> All you have to do is to enter your mobile number and it will fetch your operator and your circle automatically. <br><br> Browse through all the recharge plans and save money with the help of cashback offers.<br><br> No matter whether you use Airtel, Jio, Vi, BSNL or any other operator, just recharge it now to get amazing offers on your instant RPay mobile recharge..</p>
						<div class="learn-more-btn-section">
							<a class="nav-link learn-more-btn btn-invert">View Pricing</a>
						</div>
					</div>
				</div>
			</div>
			<!-- SECTION LABEL -->
			<div id="pricing"></div>
			<!-- PRICING -->
			<div class="pricing-section">
				<div class="pricing-section-left-bg-graphics">
					<img src="https://demo.codefest.co.uk/codelander/assets/images/pricing-section-left-bg.png">
				</div>
				<div class="pricing-section-right-bg-graphics">
					<img src="https://demo.codefest.co.uk/codelander/assets/images/pricing-section-right-bg.png">
				</div>
				<div class="container pricing-container">
					<div class="pricing-title">
						<h2> Offers </h2>
						<p>Get RPay Offers And Cashback On Your Online Mobile Recharge</p>
					</div>
					<!-- PRICE PLANS -->
					<div class="pricing-plan-cards-section">
						<div class="col-lg-4 col-md-8 col-xs-10 pricing-card-section">
							<div class="pricing-card">
								<p class="pricing-rate"> 50% Cashback </p>
								<p class="pricing-period">* On Recharge above ₹ 1000 </p>
								<p class="pricing-text"> Terms & Conditions:</p>
								<div class="pricing-all-plan-features">
									<ul>
										<li> Recharge amount must be greater than ₹ 1000</li>
										<li>To avail Cashback, the user needs to have a verified mobile number on RPay</li>
										<li> Cancelled orders will not be eligible for Cashback </li>
										<li>  Offer is valid for one-time usage per user </li>
									</ul>
								</div>
								<a class="nav-link learn-more-btn">Enquire</a>
							</div>
						</div>

						<div class="col-lg-4 col-md-8 col-xs-10 pricing-card-section">
							<div class="pricing-card featured">
								<p class="pricing-rate">100% Cashback </p>
								<p class="pricing-period"> * For New Users </p>
								<p class="pricing-text"> Terms & Conditions:</p>
								<div class="pricing-all-plan-features">
									<ul>
										<li> To avail Cashback, the user needs to have a verified mobile number on RPay</li>
										<li> Cancelled orders will not be eligible for Cashback </li>
										<li> Offer is valid for one-time usage per user.</li>
									
									</ul>
								</div>
								<a class="nav-link learn-more-btn">Enquire</a>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-8 col-xs-10 pricing-card-section">
							<div class="pricing-card">
								<p class="pricing-rate">25% Cashback</p>
								<p class="pricing-period">* On Recharge above ₹ 500 </p>
								<p class="pricing-text"> Terms & Conditions:</p>
								<div class="pricing-all-plan-features">
									<ul>
										<li> Recharge amount must be greater than ₹ 500</li>
										<li>To avail Cashback, the user needs to have a verified mobile number on RPay</li>
										<li> Cancelled orders will not be eligible for Cashback </li>
										<li>  Offer is valid for one-time usage per user </li>
										
									</ul>
								</div>
								<a class="nav-link learn-more-btn">Enquire</a>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<!-- SECTION LABEL -->
			<div id="clients"></div>
            <!-- CLIENTS -->
			<div class="clients-section">
				<div class="container clients-container">
					<div class="clients-title-section">
						
						<h2 class="clients-title">Our Partners</h2>
					</div>

					<div class="container">
						<div class="row text-center">

							<div class="col-xl-3 col-sm-6 mb-5">
								<div class="bg-white rounded shadow-sm py-5 px-5"><img src="/assets/img/Bsnl.png" alt="" width="100px" height="100px" class=" mb-3 rounded-circle img shadow-sm">
									<h5 class="mb-0"> BSNL </h5>
									<br>
									<a class="cta_border" href="https://www.bsnl.co.in/" target="_blank" rel="noopener noreferrer">Learn More</a>
								</div>
							</div><!-- End -->
					
							<!-- Team item -->
							<div class="col-xl-3 col-sm-6 mb-5">
								<div class="bg-white rounded shadow-sm py-5 px-5"><img src="/assets/img/airtel2.jpg" alt="" width="100px" height="100px" class=" mb-3 rounded-circle img shadow-sm">
									<h5 class="mb-0"> AIRTEL </h5>
									<br>
									<a class="cta_border" href="https://www.airtel.in//" target="_blank" rel="noopener noreferrer">Learn More</a>	
								</div>
							</div><!-- End -->
					
							<!-- Team item -->
							
					
							<!-- Team item -->
						
					
							<!-- Team item -->
							<!-- Team item -->
							<div class="col-xl-3 col-sm-10 mb-8">
								<div class="bg-white rounded shadow-sm py-5 px-4"><img src="/assets/img/Jio1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0"> JIO </h5>
									<br>
									<a class="cta_border" href="https://www.jio.com/index.html" target="_blank" rel="noopener noreferrer">Learn More</a>
									
								</div>
							</div><!-- End -->
							<div class="col-xl-3 col-sm-6 mb-5">
								<div class="bg-white rounded shadow-sm py-5 px-5"><img src="/assets/img/Vi2.jpg" alt="" width="100px" height="100px" class=" mb-3 rounded-circle img shadow-sm">
									<h5 class="mb-0"> VI </h5>
									<br>
									<a class="cta_border" href="https://www.myvi.in/" target="_blank" rel="noopener noreferrer">Learn More</a>
								</div>
							</div><!-- End -->
							
						</div>
					</div>

					<!-- <section>
						<div id="products" class="home_products pd_bt_sm">
							<div class="container strategy-container">
								
									
										<div class="products_lists col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section" style="margin-left:auto; margin-right:auto; text-align:center">
											<div class="products_lists_logo"><img src="/assets/img/Jio1.png" height="100px; " alt="Jio"></div>
											<span></span>
											<p></p><br /><br /><br />
											<a class="cta_border" href="https://www.jio.com/index.html" target="_blank" rel="noopener noreferrer">Learn More</a>
										</div>
									
					
									
										<div class="products_lists col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section" style="text-align:center">
											<div class="products_lists_logo"><img src="/assets/img/Vi.jpg" height="100px;" alt="Vodafone idea "></div>
											<br /><br /><br /><br /><br />
											<a class="cta_border" href="https://www.myvi.in/" target="_blank" rel="noopener noreferrer">Learn More</a>
										</div> 
									
									
										<div class="products_lists col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section" style="text-align:center">
											<div class="products_lists_logo"><img src="/assets/img/airtel.png" height="100px;" width="150px" alt=" Airtel "></div>
											<br /><br /><br /><br /><br />
											<a class="cta_border" href="https://www.airtel.in/" target="_blank" rel="noopener noreferrer">Learn More</a>
										</div>
								
										<div class="products_lists col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section" style="text-align:center">
											<div class="products_lists_logo"><img src="/assets/img/bsnl-logo.jpg" height="100px;" alt="BSNL"></div>
											<br /><br /><br /><br /><br />
											<a class="cta_border" href="https://www.bsnl.co.in/" target="_blank" rel="noopener noreferrer">Learn More</a>
										</div>
									
								
							</div>
						</div>
					</section> -->

					
				</div>
			</div>
			<!-- SECTION LABEL -->
			<div id="news"></div>
			<!-- NEWS -->
			<div class="blog-section">
				<div class="blog-section-right-bg">
					<img src="https://demo.codefest.co.uk/codelander/assets/images/blog-section-right-bg.png">
				</div>
				<div class="blog-section-left-bg">
					<img src="https://demo.codefest.co.uk/codelander/assets/images/blog-section-left-bg.png">
				</div>
				<div class="container blog-container">
					<div class="blog-title-section">
						
						<h2 class="blog-title">See what our customers has to say</h2>
					</div>
					<div class="blog-posts-section">
						<div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
							<div class="blog-post-card">
								<div class="blog-post-icon">
									<img src="https://demo.codefest.co.uk/codelander/assets/images/blog-card-1.png">
								</div>
								<div>
								<h3 class="blog-post-title" style="text-align:center"> Arun K </h3>
								<div style="text-align: center;">
									<p class="fa fa-star checked"></p>
                                <p class="fa fa-star checked"></p>
                                <p class="fa fa-star checked"></p>
                                <p class="fa fa-star checked"></p>
								<p class="fa fa-star checked"></p>
								<br>

								
								
								<h2 class="blog-post-subtitle"><br>User friendly and fast</h2>
								<p class="blog-post-text">Easy site to use and very fast. I'd recommend this site to top up your phone or a friends</p>
								<a class="blog-post-link">Read More</a>
							    </div>

								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
							<div class="blog-post-card">
								<div class="blog-post-icon mb-4">
									<img src="https://demo.codefest.co.uk/codelander/assets/images/blog-card-2.png">
								</div>
								<div>
									<h3 class="blog-post-title" style="text-align:center"> Elon Musk </h3>
									<div style="text-align: center;">
										<p class="fa fa-star checked"></p>
									<p class="fa fa-star checked"></p>
									<p class="fa fa-star checked"></p>
									<p class="fa fa-star checked"></p>
									<p class="fa fa-star checked"></p>
									<br>
	
									
									
									<h2 class="blog-post-subtitle"><br> Best One in Market </h2>
									<p class="blog-post-text">Absolutely it's awesome !! I really appreciate your service, keep it this way and good luck </p>
									<a class="blog-post-link" >Read More</a>
									</div>
	
							    </div>
									
							</div>
						</div>
						<div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
							<div class="blog-post-card">
								<div class="blog-post-icon">
									<img src="https://demo.codefest.co.uk/codelander/assets/images/blog-card-3.png">
								</div>
								<div>
									<h3 class="blog-post-title" style="text-align:center"> Virat kohli </h3>
									<div style="text-align: center;">
										<p class="fa fa-star checked"></p>
									<p class="fa fa-star checked"></p>
									<p class="fa fa-star checked"></p>
									<p class="fa fa-star checked"></p>
									<p class="fa fa-star checked"></p>
									<br>
	
									
									
									<h2 class="blog-post-subtitle"><br> Easy and Fast ... </h2>
									<p class="blog-post-text">Easy and fast way to recharge your phone.It is safe and they don't ask for so much of your personal information. </p>
									<a class="blog-post-link" >Read More</a>
									</div>
	
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<!-- For demo purpose -->
			<div class="container-sm">
				<div class="container py-5">
					<div class="row text-center text-white">
						<div class="col-lg-8 mx-auto">
							<h1 style="color: indigo;"> Meet our Team  </h1>
							
						</div>
					</div>
				</div><!-- End -->
				<div class="container">
					<div class="row text-center">
						<!-- Team item -->
						<div class="col-xl-4 col-sm-10 mb-8">
							<div class="bg-white rounded shadow-sm py-5 px-4"><img src="/assets//img/raja.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
								<h5 class="mb-0">RajaGuru</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
								<ul class="social mb-0 list-inline mt-3">
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-facebook-f"></i></a></li>
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-twitter"></i></a></li>
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-instagram"></i></a></li>
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!-- End -->
				
						<!-- Team item -->
						<div class="col-xl-4 col-sm-6 mb-5">
							<div class="bg-white rounded shadow-sm py-5 px-4"><img src="/assets/img/sara.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
								<h5 class="mb-0">Saravana</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
								<ul class="social mb-0 list-inline mt-3">
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-facebook-f"></i></a></li>
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-twitter"></i></a></li>
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-instagram"></i></a></li>
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!-- End -->
				
						<!-- Team item -->
						<div class="col-xl-4 col-sm-6 mb-5">
							<div class="bg-white rounded shadow-sm py-5 px-4"><img src="/assets/img/naveeth.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
								<h5 class="mb-0">Naveeth</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
								<ul class="social mb-0 list-inline mt-3">
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-facebook-f"></i></a></li>
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-twitter"></i></a></li>
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-instagram"></i></a></li>
									<li class="list-inline-item"><a  class="social-link"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!-- End -->
				
						<!-- Team item -->
						
					</div>
				</div>

			</div>


			<!-- SECTION LABEL -->
			<div id="contact"></div>
			<!-- CONTACT -->
			<div class="contact-section">
				<div class="container contact-container">
					<div class="col-md-6 contact-title-section">
						<p class="contact-subtitle">Contact</p>
						<h2 class="contact-title">Questions?<br>Get in touch</h2>
						<p class="contact-text">We'll be happy to help answer any of your questions. Send us an email and we'll get back to you shortly.</p>
						<div class="learn-more-btn-section">
							<a class="nav-link learn-more-btn btn-invert" href="mailto:name@domain.com">Send an Email</a>
						</div>
					</div>
					<div class="col-md-6 contact-header-img">
						<img src="../assets/img/contact-header-img.png">
					</div>
				</div>
			</div>
			<!-- FOOTER -->
			<div class="footer-section">
				<div class="footer-section-bg-graphics">
					<img src="https://demo.codefest.co.uk/codelander/assets/images/footer-section-bg.png">
				</div>
                <!-- Footer Column 1 -->
				<div class="container footer-container">
					<div class="col-lg-3 col-md-6 footer-logo">
						<img src="/assets/img/apilogo.png" width="155px">
						<p class="footer-susection-text">The simplest and fastest way to do a online recharge</p>
					</div>
					<div class="col-lg-3 col-md-6 footer-subsection">
						<div class="footer-subsection-2-1">
							<h3 class="footer-subsection-title">About</h3>
							<p class="footer-subsection-text">RPay is India’s largest mobile Recharge platform. We help you to recharge your mobile at zero cost using our RPay Wallet.</p>
						</div>
					</div>
                    <!-- Footer Column 2 -->
					<div class="col-lg-3 col-md-6 footer-subsection">
						<h3 class="footer-subsection-title">Contact Us</h3>
						<ul class="footer-subsection-list">
							<li>RSN private ltd<br>Kovai</li>
							<li>8256345845</li>
							<li>rsnltd@gmail.com</li>
						</ul>	
					</div>
                    <!-- Footer Column 3 -->
					<div class="col-lg-3 col-md-6 footer-subsection">
						<div class="footer-subsection-2-2">
							<h3 class="footer-subsection-title">Socials</h3>
							<div class="footer-social-media-icons-section">
								<a  class="footer-social-media-icon"><i class="fa fa-twitter"></i></a> 
								<a  class="footer-social-media-icon"><i class="fa fa-instagram"></i></a>
								<a  class="footer-social-media-icon"><i class="fa fa-facebook"></i></a>
								<a  class="footer-social-media-icon"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
                <!-- FOOTER CREDITS -->
				<div class="container footer-credits">
					<p>© 2020 <a target="_blank" title="Codefest">RPay</a>™. All Rights Reserved.</p>
				</div>
			</div>
		</div>

	<!-- FOOTER SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="/src/assets/js/owl/owl.carousel.js"></script>
	<script src="/src/assets/js/accordian.js"></script>
  	<!-- Header scroll -->
		<script type="text/javascript">
				$(window).scroll(function() {
				    if ($(this).scrollTop() > 20) {
				      $('#navbar').addClass('header-scrolled');
				    } else {
				      $('#navbar').removeClass('header-scrolled');
				    }
				  });		
		</script>


		<script>
			$(document).ready(function(){
			  $(".owl-carousel").owlCarousel({
			  	items:4,
			  	loop:true,
			  	nav:true,
			  	autoplay:true,
			    autoplayTimeout:2000,
			    autoplayHoverPause:true,
			    responsiveClass:true,
			    responsive:{
			        0:{
			            items:1
			        },
			        600:{
			            items:3
			        },
			        1000:{
			            items:4
			        }
			    }
			  });
			});
	    </script>
	

<router-outlet></router-outlet>